@model EntityOrder
 <div class="align-items-center">
	 <div class="text-center text-success">
		 <h5>We have Successfully received your payment. Thank you!!</h5>
	 </div>
	 <div class="row">
		<div class="col-md-6"	>
			<div class="col-form-label">
				TransactionID :@Html.DisplayText("TransactionId")

			</div>
		</div>
	 </div>
</div>

