@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Our Products</h2>
        </div>
       
    </div>
       <div class="container">
                <div class="row justify-content-center">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 col-sm-6 d-flex justify-content-center">
                            <div class="card" style="width: 18rem;">
                                <img src="@item.imageSrc" class="card-img-top" alt="Product Image">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">@item.Description</p>
                                    <p>Price @item.Price</p>
                                </div>
                            </div>
                        </div>
                
                    }
                </div>
            </div>
   

         
</div>