@model Order

@{
    ViewData["Title"] = "Edit Order Status";
}

<h1>Edit Order Status</h1>
<hr />
<div class="row">
    <div class="col-md-4">

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input asp-for="EmpID" type="hidden" />
            <input asp-for="DeliveryFee" type="hidden" />
            <input asp-for="TotalPrice" type="hidden" />
            <input asp-for="OrderAddress" type="hidden" />
            <input asp-for="OrderPrice" type="hidden" />
            <input asp-for="OrderProducts" type="hidden" />
            <input asp-for="UserID" type="hidden" />
            <input asp-for="OrderDate" type="hidden">
            <input asp-for="user" type="hidden">

            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label"></label>
                <select asp-for="OrderStatus" class="form-control">
                    <option value="0">New</option>
                    <option value="1">Pending</option>
                    <option value="2">Shipped</option>
                    <option value="3">Delivered</option>
                </select>
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancel</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}